body {
    color: #013C4F;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    color: #013C4F;
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6, legend, .rst-content .toctree-wrapper p.caption {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-weight: 500;
    padding-top: 0.7em;
}

hr {
    margin: 2rem 0 1.2rem;
}

.rst-content .toctree-wrapper p.caption {
    font-size: 1.2rem;
    margin-bottom: 0.3em;
}

.rst-content .toctree-wrapper h2 {
    font-size: 80%;
}

.rst-content .toctree-wrapper ul {
    font-size: 90%;
    font-weight: 300;
    margin-bottom: 0;
}

#contents > h2 {
    margin-bottom: 0.25rem;
}

.wy-nav-content h1 a.toc-backref,
.wy-nav-content h2 a.toc-backref,
.wy-nav-content h3 a.toc-backref,
.wy-nav-content h4 a.toc-backref,
.wy-nav-content h5 a.toc-backref,
.wy-nav-content h6 a.toc-backref {
    color: #013C4F !important;
    position: relative;
}

@media screen and (min-width: 769px) {
    .wy-nav-content a.toc-backref::before {
        color: #FA6600;
        content: "#";
        font-weight: 300;
        left: -0.9em;
        position: absolute;
        top: -0.2em;
    }

    .wy-nav-content h3 a.toc-backref::before {
        content: ">";
        top: -0.25em;
    }
}

h1 {
    border-bottom: 1px solid #ececef;
    padding-top: 0;
    padding-bottom: 0.4em;
}


input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="date"], input[type="month"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="week"], input[type="number"], input[type="search"], input[type="tel"], input[type="color"] {
    color: #013C4F;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}



a:hover {
    transition: color 0.25s;
}

.btn {
    box-shadow: none;
    padding: 7px 12px;
}

.btn-neutral {
    color: #013C4F;
}

.rst-content pre.literal-block,
.rst-content div[class^="highlight"] pre,
.rst-content .linenodiv pre {
    font-size: 0.8rem;
    line-height: 1.6;
}

.rst-content pre.literal-block,
.rst-content div[class^="highlight"] {
    margin-bottom: 2rem;
}

.highlight {
    background: #f8f8f8;
}


.rst-versions {
    background-color: #17313F;
    font-family: inherit;
}

.rst-versions .rst-other-versions dl {
    margin-bottom: 0.5rem;
}

.rst-versions .rst-other-versions dl:last-of-type {
    margin-bottom: 0;
}

.rst-versions .rst-current-version {
    background-color: #1F4157;
    font-size: 0.8rem;
}

.rst-versions .rst-current-version .fa-book{
    position: relative;
    top: 2px;
}


.rst-versions .rst-other-versions {
    color: rgba(255,255,255,0.5);
}

.rst-versions a,
.rst-versions .rst-current-version,
.rst-versions .rst-current-version .fa,
.rst-versions .rst-other-versions dd a {
    color: #E1E1E1;
}

.rst-versions .rst-other-versions dt {
    color: #FA6600;
}

.rst-versions .rst-other-versions hr {
    border-top: 1px solid #1D4151;
}

.rst-versions .rst-other-versions dd a:hover {
    text-decoration: underline;
}


.wy-nav-side {
    background: #fbfbfb;
    border-right: 1px solid #e4e4e4;
}
    .wy-side-nav-search {
        background: #19394C url('header.png') no-repeat right bottom !important;
        background-size: cover !important;
        margin-bottom: 0;
    }

    .wy-side-nav-search > a,
    .wy-side-nav-search .wy-dropdown > a {
        color: #fff;
    }

    .wy-side-nav-search input[type="text"] {
        border: 1px solid #FA6600;
        border-radius: 0;
        font-size: 0.9rem;
        padding: 0.6em 0.8em;
    }

    .wy-side-nav-search > .icon {
        font-size: 1.2rem;
    }
        .wy-side-nav-search > .icon::before {
            display:none;
        }

    .wy-side-nav-search > div.version {
        color: rgba(255,255,255,0.5);
    }
    .wy-side-nav-search > a img.logo,
    .wy-side-nav-search .wy-dropdown > a img.logo {
        max-width: 80%;
    }

    .wy-menu-vertical p.caption {
        color: #838387;
        font-size: 0.85rem;
        font-weight: 700;
        height: auto;
        line-height: 1.1em;
        margin: 0.5rem 0 0 0;
        padding-top: 1rem;
        padding-bottom: 0.5rem;
    }

    .wy-menu-vertical a {
        border: none;
        color: #013C4F;
        font-size: 0.9rem;
        font-weight: 300;
        line-height: 1.3;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        transition:
                background-color 0.15s,
                color 0.15s;
    }

        .wy-menu-vertical li.current {
            background: none;
        }

        .wy-menu-vertical li.toctree-l1.current > a,
        .wy-menu-vertical li.toctree-l2.current > a,
        .wy-menu-vertical li.toctree-l3.current > a,
        .wy-menu-vertical li.toctree-l4.current > a {
            border: none;
            background-color: #e4e4e6 !important;
            color: #013C4F !important;
            font-weight: 300;
            padding-top: 0.5em;
            padding-bottom: 0.5em;
        }

        .wy-menu-vertical li.toctree-l2.current > a,
        .wy-menu-vertical li.toctree-l3.current > a,
        .wy-menu-vertical li.toctree-l4.current > a {
            background-color: transparent !important;
        }

        .wy-menu-vertical li.toctree-l2 a,
        .wy-menu-vertical li.toctree-l3 a,
        .wy-menu-vertical li.toctree-l4 a {
            background: none;
            color: #013C4F;
            font-weight: 300;
            padding-top: 0.5em;
            padding-bottom: 0.5em;
        }

            .wy-menu-vertical a:hover,
            .wy-menu-vertical a:focus,
            .wy-menu-vertical li.current a:hover,
            .wy-menu-vertical li.current a:focus {
                background-color: #C7D6DD !important;
                color: #013C4F !important;
            }

        .wy-menu-vertical li.toctree-l1.current > a span.toctree-expand::before {
            display:none;
        }

        .wy-menu-vertical li.toctree-l2.current > a,
        .wy-menu-vertical li.toctree-l3.current > a,
        .wy-menu-vertical li.toctree-l4.current > a {
            background: transparent;
            padding-top: 0.5em;
            padding-bottom: 0.5em;
        }


.wy-table {
    padding-top: 0.5rem;
}

.wy-table thead th,
.rst-content table.docutils thead th,
.rst-content table.field-list thead th {
    border-bottom: 1px solid #e1e4e5;
    border-right: 1px solid #e1e4e5;
    color: #013C4F;
    font-size: 80%;
    font-weight: 700;
    text-transform: uppercase;
}

.wy-table td,
.rst-content table.docutils td,
.rst-content table.field-list td {
    vertical-align: top;
}

.wy-table td p,
.rst-content table.docutils td p,
.rst-content table.field-list td p {
    font-size: inherit;
    padding: 0 0 0.5em;
    margin: 0;
    line-height: 1.2;
}

.wy-table td p:last-of-type,
.rst-content table.docutils td p:last-of-type,
.rst-content table.field-list td p:last-of-type {
    padding-bottom: 0;
}

.rst-content .section .contents.local ul {
    padding-top: 1rem;
}
.rst-content .section .contents.local li ul {
    padding-top: 0;
}

.rst-content .section .contents.local ul li {
    font-size: 0.8rem;
    list-style: none;
    margin-left:0;
    padding-left: 1rem;
    position: relative;
}

.rst-content .section .contents.local ul li a {
    color: #013C4F;
    font-weight: bold;
}

.rst-content .section .contents.local ul li:before {
    color: #FA6600;
    content: "#";
    font-size: 0.9rem;
    font-weight: bold;
    left: 0;
    position: absolute;
    width: 16px;
}
.rst-content .section .contents.local li ul li:before {
    content: ">";
}

.wy-nav-content-wrap {
    background: #F0F2F4;
}

    .wy-nav-top {
        background: #19394C url('header.png') no-repeat right bottom !important;
        background-size: cover !important;
        line-height: 40px;
    }
        .wy-nav-top i {
            font-size: 26px;
        }

    .wy-nav-content {
        background: #ffffff;
        padding:0;
        max-width: 900px;
    }
    @media screen and (max-width: 768px) {
        .wy-nav-content-wrap .wy-nav-content {
            padding:0;
        }
    }

        .wy-nav-content a:link,
        .wy-nav-content a:visited {
            color: #FA6600;
        }

        .wy-nav-content a:active,
        .wy-nav-content a:hover,
        .wy-nav-content a:focus{
            color: #C35103;
        }

        .wy-breadcrumbs {
            font-size: 1rem;
            font-weight: 300;
            padding: 24px 20px 0;
        }

        .wy-nav-content .document {
            padding: 24px 60px 36px;
        }
        @media screen and (max-width: 768px) {
            .wy-nav-content .document {
                padding-left: 24px;
                padding-right: 24px;
            }
        }

        .wy-nav-content footer {
            background: #F0F2F4;
            padding: 24px 20px 24px;
            text-align: right;
        }

            .wy-nav-content footer hr {
                display:none;
            }

            .wy-nav-content footer,
            .wy-nav-content footer p {
                font-size: 0.8rem;
                font-weight: 300;
                margin-bottom: 0;
            }

    .rst-footer-buttons {
        padding-bottom: 1.2rem;
    }

    footer {
        color: #013C4F;
    }

    footer span.commit code,
    footer span.commit .rst-content tt,
    .rst-content footer span.commit tt {
        color: #013C4F;
    }




.rst-content .section .platform-code ul.platform-tab-wrapper {
    list-style: none;
    margin: 0 0 -2px 0;
    padding: 0;
}

.rst-content .section .platform-code ul.platform-tab-wrapper li {
    border-top: 1px solid #e1e4e5;
    border-right: 1px solid #e1e4e5;
    border-bottom: 1px solid #e1e4e5;
    cursor: pointer;
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0.5rem 1rem;
}

.rst-content .section .platform-code ul.platform-tab-wrapper li:first-of-type {
    border-left: 1px solid #e1e4e5;
}

.rst-content .section .platform-code ul.platform-tab-wrapper li.selected {
    background-color: #F9F9F9;
    border-top-color: #FA6600;
    border-bottom-color: #F9F9F9;
    cursor: default;
}

.rst-content .section .platform-code div.platform {
    display: none;
}

.rst-content .section .platform-code div.platform.selected {
    display: block;
}