.rst-content .section .example-code ul.platform-tab-wrapper {
    list-style: none;
    margin: 0 0 -2px 0;
    padding: 0;
}

.rst-content .section .example-code ul.platform-tab-wrapper li {
    border-top: 1px solid #e1e4e5;
    border-right: 1px solid #e1e4e5;
    border-bottom: 1px solid #e1e4e5;
    cursor: pointer;
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0.5rem 1rem;
}

.rst-content .section .example-code ul.platform-tab-wrapper li:first-of-type {
    border-left: 1px solid #e1e4e5;
}

.rst-content .section .example-code ul.platform-tab-wrapper li.selected {
    background-color: #F9F9F9;
    border-top-color: #FA6600;
    border-bottom-color: #F9F9F9;
    cursor: default;
}

.rst-content .section .example-code div.platform {
    display: none;
}

.rst-content .section .example-code div.platform.selected {
    display: block;
}